<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmallManager.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7BA9F0C6BD05E9FFA762D171F509572CFCDB936B</string>
				<key>dateExpires</key>
				<string>23/02/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S9KZ6UJWDY.com.rs.dalian.rocketbuild.smallmanager</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S9KZ6UJWDY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>S9KZ6UJWDY.com.bangweikeji.SmallManager</string>
				</array>
			</dict>
			<key>name</key>
			<string>SmallManager.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4faf1948-c9e3-42ac-9541-d41f5631543a</string>
				<key>name</key>
				<string>RocketBuild Dalian Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S9KZ6UJWDY</string>
				<key>name</key>
				<string>Rocket Software, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
